@import '../../sass/main.scss';

.home_gallery{
    @include flex (row, left, center);
    flex-wrap: wrap;
    gap: 50px;
    background-color: $color-tertiary-grey;
    padding: 50px;
    border-radius: 25px;
    width: 86%;
    max-width: 97%;
    margin: 0 auto;
    @media screen and (max-width: 1230px){
        gap: 25px; 
               
    }
    @media screen and (max-width: 550px){  
        width: 100%;
        background-color: transparent;
        padding:25px 10px;
        
    }
}