@import '../../sass/main.scss';

.nav_list{
    display: flex;
    gap: 57px;
    color: $color-quaternary-black;
    font-size: clamp(12px, 2.5vw, 24px);
    @media screen and (max-width: 700px){
        gap: 26px;
    }
    &_item{
        &_active{
            position: relative;
            text-decoration: underline solid $color-quaternary-black; 
            
        }
    }
}
 //